<section class="calculator">
  <h2 class="calculator__header">Need help with soil or mulch calculations?</h2>
  <div class="calculator__container">
    <div class="calculator__individual">
      <h3 class="calculator__secondary">
        How much mulch do you need for the garden?
      </h3>
      <div
        class="omni-calculator"
        data-calculator="biology/mulch"
        data-width="300"
        data-config="{}"
        data-currency="AUD"
        data-show-row-controls="false"
        data-version="3"
        data-t="1643267739648"
        data-auto-load="false"
      >
        <div class="omni-calculator-header"></div>
        <div class="omni-calculator-footer">
          <a href="https://www.omnicalculator.com/biology/mulch" target="_blank"
            ><img
              alt="Omni"
              class="omni-calculator-logo"
              src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg"
          /></a>
        </div>
      </div>
    </div>

    <div class="calculator__individual">
      <h3 class="calculator__secondary">
        How much soil do you need for the garden?
      </h3>
      <div
        class="omni-calculator"
        data-calculator="biology/soil"
        data-width="300"
        data-config="{}"
        data-currency="AUD"
        data-show-row-controls="false"
        data-version="3"
        data-t="1643268544330"
      >
        <div class="omni-calculator-header"></div>
        <div class="omni-calculator-footer">
          <a href="https://www.omnicalculator.com/biology/soil" target="_blank"
            ><img
              alt="Omni"
              class="omni-calculator-logo"
              src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg"
          /></a>
        </div>
      </div>
    </div>
    <div class="calculator__individual">
      <h3 class="calculator__secondary">How much soil do you need for pots?</h3>
      <div
        class="omni-calculator"
        data-calculator="biology/potting-soil-calculator"
        data-width="300"
        data-config="{}"
        data-currency="AUD"
        data-show-row-controls="false"
        data-version="3"
        data-t="1643268513309"
      >
        <div class="omni-calculator-header"></div>
        <div class="omni-calculator-footer">
          <a
            href="https://www.omnicalculator.com/biology/potting-soil-calculator"
            target="_blank"
            ><img
              alt="Omni"
              class="omni-calculator-logo"
              src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
  
</section>
