<footer class="footer">
  <form
    class="footer__form"
    action="https://formsubmit.co/2c74bc506cce47deb1b3c27702749ec1 "
    method="POST"
  >
    <h2 class="footer__header">Want to get in touch?</h2>
    <label for="name" class="footer__label">Let me know your name?</label>
    <input type="text" class="footer__input" name="name" required />
    <label for="email" class="footer__label">Your email address?</label>
    <input type="email" class="footer__input" name="email" required />
    <label for="message" class="footer__label"
      >What would you like to chat about?</label
    >
    <textarea
      type="text"
      class="footer__input"
      name="message"
      rows="6"
    ></textarea>
    <button type="submit" class="footer__button">Send ➜</button>
  </form>
  <div class="footer__copyright">
    <span
      >This is free content I provide for fun — I take no responsibility for
      incorrect information and will not respond to rude emails.</span
    ><span
      >Website created by Ollie Hermans |
      <a
        class="footer__link"
        href="https://www.olliehermans.com"
        rel="noopener"
        target="_blank"
        >www.olliehermans.com</a
      ></span
    >
  </div>
</footer>
