<nav class="nav">
  <div class="nav__mobile-menu">
    <input type="checkbox" class="nav__checkbox" (click)="showMenu()" />
    <a class="nav__mobile-menu-button"></a>
  </div>
  <div class="nav__container" [ngStyle]="{ display: getDisplay() }">
    <a class="nav__link" routerLink="" (click)="showMenu()">Home</a>
    <a class="nav__link" routerLink="/free-mulch" (click)="showMenu()"
      >Free Mulch</a
    >
    <a class="nav__link" routerLink="/what-to-plant" (click)="showMenu()"
      >What to Plant</a
    >
    <a class="nav__link" routerLink="/calculators" (click)="showMenu()"
      >Garden Calculators</a
    >
  </div>
</nav>
