.header {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  padding: 2rem 10rem;

  @media screen and (max-width: 800px) {
    padding: 2rem 2rem;
  }

  &__main {
    font-family: var(--font-header);

    font-size: 4rem;
    letter-spacing: 2px;
    height: 100%;
    cursor: pointer;
  }
}
