.free-mulch {
  
  &__header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__map-container {
    height: 50rem;
    width: 100%;
    overflow: hidden;
    box-shadow: var(--style-box-shadow);
  }

  &__map {
    border: none;
    margin-top: -6rem;
    height: 56rem;
  }

  &__card-container {
  }
  &__location-card {
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
  }
  &__card-header {
    font-size: 1.6rem;
  }
  &__card-text {
    margin: 0.5rem 0;
    font-size: 1.4rem;
  }
  &__card-link {
    font-size: 1.4rem;
    transition: all 10s;

    &::before {
      position: absolute;
      content: "";
      width: 6.2rem;
      background-color: var(--color-tertiary);
      bottom: 0;
      left: 0;
      height: 0.2rem;
      transform: translateX(-6.2rem);
      transition: all 0.3s;
    }

    &:hover::before {
      transform: translateX(0);
    }
  }
}
