@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Quicksand:wght@400;600&display=swap");
:root {
  --color-white: #eefff4;
  --color-black: rgb(20, 26, 21);
  --color-gray: #303030;

  --color-primary: rgb(171, 219, 238);
  --color-primary-dark: #50a6c8;

  --color-secondary: #abeec2;
  --color-secondary-dark: #4b7c5c;

  --color-tertiary: #ffdcb7;
  --color-tertiary-dark: #faa041;

  --style-border-radius: 5px;
  --style-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  --font-header: "Handlee", cursive;
  --font-body: "Quicksand", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-body);
}

a:link,
a:active {
  text-decoration: none;
  color: currentColor;
  font-family: var(--font-body);
}

::selection {
  background-color: var(--color-tertiary-dark);
  color: var(--color-white);
}

/*!! Scrollbar */
@supports (overflow-y: overlay) {
  html {
    overflow-y: overlay;
  }
}

*::-webkit-scrollbar {
  display: block;
  width: 1.4rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c70a840;
  border-radius: 24px;
}
